<mat-accordion [multi]="false">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Angular Components </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <app-component-playground></app-component-playground>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Data Binding </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <app-data-binding-playground></app-data-binding-playground>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Reactive Forms </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <app-forms-playground></app-forms-playground>
    </div>
  </mat-expansion-panel>
</mat-accordion>
