/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  background-color: #f6f0ff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 12px 24px 0px 24px;
}
